html {
  // @include dark-scheme;
  @include light-scheme;
}
body {
  background: var(--body-bg);
  color: var(--text-color);
  // font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  font-family: "Times New Roman", "Microsoft Yahei", sans-serif;
  height: 100vh;
}
a {
  @extend %link-color;
}

#footer-wrapper {
    margin-top: 3px;
    padding-top: 10px;
    border-top: 1px solid var(--main-border-color);

}
