#core-wrapper {
  position: relative;
  // width: calc(100% - #{$sidebar-width});
  // width: calc(100% - #{$sidebar-width});
  // margin-left: 1rem;
  // margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 0rem;
  width: 100%;

//  width: 1200px;


}
#all-wrapper {
//    max-width: 1200px;
}

#main {
  height: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;

}

#main-wrapper {
    height: calc(100% - #{$topbar-height});
}
#all-wrapper {
  width: calc(100vw - #{$sidebar-width} - 1px);
}

.post-preview {
  // border-bottom-color: var(--main-border-color);
  border-bottom: solid 1px var(--main-border-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
