#core-wrapper {
  position: relative;
  // width: calc(100% - #{$sidebar-width});
  // width: calc(100% - #{$sidebar-width});
  // margin-left: 1rem;
  // margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 0rem;
  width: 100%;
}

#main {
  height: 100%;
}

#main-wrapper {
}
#all-wrapper {
  width: calc(100vw - #{$sidebar-width} - 1px);
}

.post-preview {
  // border-bottom-color: var(--main-border-color);
  border-bottom: solid 1px var(--main-border-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
