#core-wrapper {
  position: relative;
  // width: calc(100% - #{$sidebar-width});
  width: calc(100% - #{$sidebar-width});
}

#main {
  height: 100%;
}

#main-wrapper {
}
#all-wrapper {
  width: calc(98vw - #{$sidebar-width});
}

.post-preview {
    // border-bottom-color: var(--main-border-color);
    border-bottom: solid 1px var(--main-border-color);
    margin-bottom: 1rem;
    padding-bottom:1rem;
}
