#topbar-wrapper {
  z-index: 100;
  transition: top 0.2s ease-in-out;
  background-color: var(--topbar-wrapper-bg);

  position: sticky;
  top: 0;
  height: $topbar-height;
  // width: calc(100% - #{$sidebar-width});
  width: 100%;
  // left: 0;
  // right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  // background-color: var(--topbar-wrapper-bg);
}

#topbar {
  i {
    // display: none;
    color: #999;
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  // width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

#sidebar-trigger {
  display: none;
}

#breadcrumb {
  // no wrap
  white-space: nowrap;
  // display: none;
  font-size: 1.2rem;
  max-height: $topbar-height;
  color: gray;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-top: 0.3rem;
  // text-align: left;
  // left: 0;
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  // font-weight: 400;
  line-height: 1.75rem;
  text-align: left;

  a:hover {
    // @extend %link-hover;
  }

  span {
    // padding-right: 0.5rem;
    &:not(:last-child) {
      &::after {
        content: "›";
        // padding-left: 0.3rem;
        // padding-right: 0.3rem;
        margin: 0.1rem 0.1rem;
        font-size: 1rem;
      }
    }
  }
  a {
    // color: var(--topbar-text-color);
  }
}
