{{ define "main" }}

<div class="post pl-1 pr-1 pl-md-2 pr-md-2">
    <h1 class="dynamic-title">Archives</h1>
    <div class="post-content">
        <div id="archives" class="pl-xl-3">
            {{$previous_year := ""}}
            {{range $i, $p := .Site.RegularPages}}
            {{$this_year := (.PublishDate.Format "2006")}}
            {{$this_month := (.PublishDate.Format "Jan")}}
            {{$this_day := (.PublishDate.Format "02")}}
            {{if not (eq $this_year $previous_year)}}
            {{if not (eq $i 0)}}
            </ul>
            {{end}}
            <!-- <span class="lead"> {{$this_year}}</span> -->
            <div class="year lead">{{$this_year}}</div>
            <ul class="list-unstyled">
                {{end}}
                <li>
                    <span class="=date day">{{$this_day}}</span>
                    <span class="date month small text-muted ml-1">{{$this_month}}</span>
                    <a href="{{ .Permalink }}">{{.Title}} </a>
                </li>
                {{$previous_year = $this_year}}
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{ end }}
