<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body data-spy="scroll" data-target="#toc" data-topbar-visible="true">
    {{- partial "sidebar.html" . -}}
    {{- partial "header.html" . -}}
    <div id="main-wrapper" class="d-flex justify-content-center">
        <div id="main" class="container pl-xl-4 pr-xl-4">
            <div class="row">

                {{- block "main" . }}{{- end }}

                {{- partial "panel.html" . -}}

            </div>
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "search.html" . -}}
    </div>
    <div id="mask"></div>
    <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button"
        style="display: none;"> <i class="fas fa-angle-up"></i> </a>
    <!-- notification and some scripts -->
</body>

</html>
