<!-- <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4 pb-5"> -->
<!--     <div class="post pl-1 pr-1 pl-md-2 pr-md-2"> -->
<!--         <h1 class="dynamic-title">Archives</h1> -->
<!--         <div class="post-content"> -->
<!--             <div id="tags" class="d-flex flex-wrap ml-xl-2 mr-xl-2"> -->
<!--                 {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }} -->
<!--                 {{ with $.Site.GetPage (printf "/tags/%s" $name) }} -->
<!--                 <div> -->
<!--                     <a class="tag" href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}} -->
<!--                         <span class="text-muted">{{$cnt}}</span> -->
<!--                     </a> -->
<!--                 </div> -->
<!--                 {{end}} -->
<!--                 {{end}} -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

{{ define "main" }} {{ end }}
