/*
  Post-specific style
*/

// for main

#main{

//   font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
//    font-family: "Times New Roman", "Microsoft Yahei", sans-serif;
    h1 {
        font-size: 1.8rem;
        font-family: "Source Sans Pro";
    }
    p {
        font-size: 1.3rem;
    }
}
