<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css" class="dark-mode-native-dark-original">
 {{if or (eq .Layout "home") (eq .Layout "post")}}

 {{end}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <title>
        {{ $title := print .Site.Title " | " .Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        {{ $title }}
    </title>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
 <script type="text/javascript" src="/js/commons/back-to-top.js"></script>
 <script type="text/javascript" src="/js/commons/search-display.js"></script>
 <script type="text/javascript" src="/js/commons/topbar-title.js"></script>
 <!-- <script type="text/javascript" src="/js/commons/tooltip-loader.js"></script> -->
 <script type="text/javascript" src="/js/commons/topbar-switch.js"></script>
 <script type="text/javascript" src="/js/commons/sidebar.js"></script>
 <script type="text/javascript" src="/js/commons/sidebar.js"></script>
 <script type="text/javascript" src="/js/utils/category-collapse.js"></script>
 <script type="text/javascript" src="/js/utils/checkbox.js"></script>
 <!-- <script type="text/javascript" src="/js/utils/clipboard.js"></script> -->
 <script type="text/javascript" src="/js/utils/img-extra.js"></script>
 <script type="text/javascript" src="/js/utils/pageviews.js"></script>
 <script type="text/javascript" src="/js/utils/smooth-scroll.js"></script>
 <script type="text/javascript" src="/js/utils/timeago.js"></script>

    
</head>
