<div id="sidebar" class="d-flex flex-column align-items-end">
    <div class="profile-wrapper text-center">

        <div id="avatar">
            <a href="/" alt="avatar" class="mx-auto"> <img src={{ .Site.Params.avatar }} alt="avatar"
                    onerror="this.style.display='none'"> </a>
        </div>

        <div class="site-title mt-3"> <a href="/">Guangzong</a> </div>
        <div class="site-subtitle font-italic">Welcome to my blog</div>
    </div>

    <ul>
        {{ range $i, $p := .Site.Menus.main }}
        {{if not (eq $i 0)}}
        <li class="nav-item">
            {{else}}
        <li class="nav-item">
            {{end}}

            <a class="nav-link" href="{{.URL}}">
                <span>
                    {{ .Name }}
                </span>
            </a>
        </li>
        {{ end }}
    </ul>

    <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">
        <button class="mode-toggle btn" aria-label="Switch Mode"> 
            <i class="fas fa-adjust"></i> 
        </button>

        <span class="icon-border"></span>
        <a href="https://github.com/chen-gz" aria-label="github" target="_blank" rel="noopener">
            <i class="fab fa-github"></i>
        </a>

        <a href=" javascript:location.href = 'mailto:' + ['chen-gz','outlook.com'].join('@')" aria-label="email">
            <i class="fas fa-envelope"></i>
        </a>

        <a href="/feed.xml" aria-label="rss"> <i class="fas fa-rss"></i> </a>
    </div>

    <!-- <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center"> -->
    <!-- </div> -->
</div>
